.empty { }

.tleft { text-align:left; }
.tcenter { text-align:center; }
.tright { text-align:right; }
.bold { font-weight: bold; }
.spacer { height:10px; margin:5px 0px; }
.undeline { height:1px; margin:2px 0px; border-bottom:1px solid #666; }

.row { background:#333; line-height:32px; }



.content_header {
  background:#353535;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.8);
  border-radius:3px;
  font-size: 13px;
  padding:8px 0px!important;
}

.even, .odd {

}

#indexPage { color: #fafafa; }
#indexView span.icon { margin:0px 0px 0px 0px; }
#indexView span.team { margin:0px 0px 0px 5px; }
#indexView div { line-height:36px; margin:2px 0px; }
#indexView div.bold { font-weight:bold; text-shadow: 0px -1px #000; }
#indexView div .score { font-size:24px;}
#indexView .number { display: inline-block; color: #999; font-size:9px; }
#indexView .best {
  color: #000;
  text-align:center;
  font-weight: bold;
  background:yellow;
  width: 16px;
  height: 16px;
  line-height:16px;
  text-shadow: 0px 1px #fff;
/*  text-shadow: none;*/
  opacity:0.4;
  font-size:8px;
  margin-top: 10px;
  border-radius:16px;
}

#indexView .fav {
  color: #fff;
  text-align:center;
  font-weight: bold;
  background:#666;
  width: 16px;
  height: 16px;
  line-height:16px;
  text-shadow: 0px 1px #fff;
  text-shadow: none;
  opacity:0.4;
  font-size:8px;
  margin-top: 10px;
  border-radius:16px;
}

#seasonView .match { background: #474747; line-height:32px;  border-radius:3px; border:1px solid #2a2a2a; }
#seasonView span.icon, #matchView span.icon { margin:0px 0px; }
#seasonView span.lteamname, #matchView span.lteamname { display:inline-block; min-width:30px; padding: 0px 5px; }
#seasonView span.rteamname, #matchView span.rteamname { display:inline-block; min-width:30px; padding: 0px 5px; }
#seasonView div { margin: 5px 0px; }
#seasonView .score, #matchView .score { line-height:32px; font-size: 24px; }
#seasonView .date { line-height:32px; font-size: 10px; font-weight:bold; text-shadow: 0px -1px #000; }
#seasonView a { color: #fff; text-decoration: none; }

#matchView fieldset { margin:10px 0px; }
#matchView fieldset.matchinfo { border:1px solid #2a2a2a; padding:5px 5px; border-radius:3px; background: #474747; }
#matchView fieldset.matchinfo div { margin:5px 0px; }
#matchView .goal { margin: 5px 0px; }
#matchView .empty { color:#474747; text-shadow: none; }
#matchView .scorer {
  display:inline-block;
  background:#333;
  width:80%;
  padding:0px 5px;
  font-weight:bold;
  position:relative;
/*  height:20px;*/
}

span.arrow-right {
  position:absolute;
  right:-11px;
  top:0;
  display:inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #474747;
}

span.arrow-left {
  position:absolute;
  left:-11px;
  top:0;
  display:inline-block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #474747;
}


#settingsPage .footer {
  font-size:11px;
  padding:10px 0px;
  text-align:center;
}

